include = common.cfg

mem_ext = 1

cart_groms = ../modules/Ed-AssmG.Bin

disksim_dsr = ../roms/disksim.bin
disksim_dir = ../diskfiles

fdc_dsr = ../roms/Disk.Bin
fdc_dsk1 = ../diskimages/Sargon1.dsk
;fdc_dsk2 = ../diskimages/test2.dsk
